.App {
  text-align: center;
  display: flex;
  /* height: 115vh; */
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  color: white;
  background-image: linear-gradient(79deg, #ffffff, #f0eaef 48%, #2e0f0f);
}

.auth-form-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90vh;
  margin: auto;
  /* overflow-y: hidden; */
}

.login-form, .register-form{
  display: flex;
  flex-direction: column;
  
}
/* .img{
  width: 0%;
  display: inline;
} */
.form{
  width: 50%;
  /* height: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.formchild{
  width: 90%;
  height: 17%;
  

}
/* .img > img{
  min-width: 50vw;
  max-height:100vh;
  /* display: flex; */
  /* object-fit: cover; */
/* } */ */

/* @media screen and (max-width: 600px){
  .auth-form-container{
    padding: 24px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  
  } */

  /* .img{
    display: none;
  }
  .img,.form{
    width: 110%;
  }

  .formchild{
    width: 100%;
  
  } */

 




label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439bd;
  
}
.forgot-and-rem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember{
  display: flex;
  margin-right: 18%;
}
.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}
/* .img{
  height: 100%;
  width: 50%;
  
} */
/* .img img{
  width: 100%;
  height: 100%;
} */

.link-bttn{
  
}
.otp-form{
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42rem;
  /* margin-right: 30rem; */
}

.otp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15rem;
  margin-top: 3rem;

}
.otp-img{
  width: 110%;
  height: 95vh;
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.otp-img img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.otp-continue{
  margin-left: 60%;
}
.root-div{
  display: flex;
  justify-content: space-between;
}

.select-identification{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kyc{
  margin-right: 400px;
  margin-bottom: -0rem;
}

.homeaddress{
  width: 300px;
  display: flex;
  justify-content: flex-start;
  margin-left: -6rem;
  align-items: center;
}

.select-class{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5rem;
  margin-bottom: -1rem;
  
}

.kindly{
  margin-left: -50px;
  display: auto;
 
}

.cards{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.p-tag{
  margin-left: -9rem;
}

.plus{
  margin-top: 3%;
}

.carding{
  margin-right: 100px;
}
input{
  width: 300px;
}

.next{
  margin-left: 10rem;
}

/* .image{
  height: 50%;
  width: 50%;
}
.image img{
  height: 5%;
  width: 79%;
} */

.root{
  display: flex;
}

.details{
  width: 50%;
  margin-top: 90px;
}

.nextkin{
  margin-right: 14rem;
  margin-bottom: -0rem;
}

.more-details{
  margin-right: -5rem;
}

.bvn{
  margin-left: -15rem;
  margin-bottom: -0rem;
}

.bvn-tag{
  margin-left: 0rem;
}

.continue{
  width: 30%;
}

.prev{
  margin-left: -8rem;
}

.line{
  margin-bottom: -1rem;
  margin-left: -80px;
}

.lining{
  width: 350px;
  margin-top: 1%;
  margin-right: 31%;
}

.login-btn{
  width: 85%;
}

.remember-box{
  margin-left: -8px;
}

.dont-have-acc-btn{
  margin-right: 15%;
  position: relative;
  top: 10px;
  
}

.login-img{
  width: 80%;
  height: 110%;
  display: flex;
}

.register-img{
  width: 72%;
  height: 12%;
}

.forgot-img{
  height: 100%;
  width: 125%;
}

.registration-img{
  width: 100%;
  height: 98%;
  display: flex;
}

.details-img{
  height: 75%;
  width: 90%;
}






