* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  /* height: 115vh; */
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  color: white;
}

.amountcard-div{
  background-color: rgb(201, 199, 199);
  width: 50%;
  margin-left: 10rem;


}

/* .card-div{
  height: 20%;
  background-color: #32283f;
} */
.auth-form-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.register-auth-form-container{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.airtimecard-div{
  display: flex;
  background-color: rgb(201, 199, 199);
  width: 30%;
}

.airtime-div{
  display: flex;
  align-items: center;
  
}

.airtime-p{
  margin-right: 12rem;
}

.airtime-card{
 
}
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
/* .img{
  width: 0%;
  display: inline;
} */
.form {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.register-form {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}


.group-img {
  width: 50%;
}

.otpform {
  width: 58%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}
.formchild {
  width: 60%;
  /* height: 250%; */
  /* margin-left: 10px; */
}

.welcome {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

.otp-label {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 200;
}

.otp-div {
  height: 100vh;
  width: 50%;
}

.login-dashboad {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.register-dashboard {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.login-input {
  outline: none;
  border: 1px solid #c4c4c4;
  width: 80%;
}

/* .img > img{
  min-width: 50vw;
  max-height:100vh;
  /* display: flex; */
/* object-fit: cover; */
/* } */

/* @media screen and (max-width: 600px){
  .auth-form-container{
    padding: 24px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  
  } */

/* .img{
    display: none;
  }
  .img,.form{
    width: 110%;
  }

  .formchild{
    width: 100%;
  
  } */

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439bd;
  bottom: 40px;
  position: relative;
}
.forgot-and-rem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 40px; */
  margin: 35px;
  margin-top: 3px;
  
}

.remember {
  display: flex;
  align-items: center;
  
  
}

.forgototp-form {
  display: flex;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.forgototp-div {
  height: 100vh;
  width: 50%;
}

.forgototp-img {
  width: 100%;
  height: 100%;
}

.already-have-acc-btn {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
/* .img{
  height: 100%;
  width: 50%;
  
} */
/* .img img{
  width: 100%;
  height: 100%;
} */

/* .link-bttn{
  
} */

.cancel-link {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* color: #C4C4C4; */
  margin-top: -25px;
  margin-left: 260px;
}

.otp-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.otpcontinue-button {
  width: 39%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 50px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.otp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2rem;
}

.otp-img {
  width: 120%;
  height: 100%;
}

.otp-img img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.otpnumber-container {
  width: 40;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.forgototp-input {
  margin-right: 10rem;
}

.otpcontinue-link {
  margin-left: 60%;
  margin-bottom: 10%;
  color: #55229e;
  text-decoration: underline;
  font-weight: 50;
  cursor: pointer;
}
.root-div {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-color: #55229E1C;
  width: 100vw;
  /* width: 90vw; */
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}


.greeting-paragraph{
  margin-right: 30rem;
}

.balance-div{
  /* width: 13rem; */
}

.ellipse-img{
  margin-right: 30rem;
}

.forgot-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.select-identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kyc {
  margin-right: 350px;
  margin-bottom: 1rem;
  color: #000;
}

.homeaddress {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.select-class {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5rem;
  margin-bottom: -2rem;
  color: #000;
  font-size: 10;
}

.kindly {
  font-weight: 100;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat-p{
  margin-right: 14rem;
}

.email-p{
  margin-right: 12rem;
}

.call-p{
  margin-right: 17rem;
}


.spend-views{
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  cursor: pointer;
}

.save-views{
  margin-top: 3rem;
}

.help-views{
  margin-top: 3rem;
}

.airtime-views{
  margin-top: 3rem;
}

.network-p{
  margin-left: 3rem;
}

.arrow-views{
  margin-left: 3rem;
}

.amount-p{
  margin-left: 3rem;
}

.cardname {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.cardnumber {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.expdate {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.cvv {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.fullname {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.email {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.phonenumber {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.relationship {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}
.p-tag {
  margin-left: -5rem;
  color: #000;
}

.plus {
  margin-top: 3%;
}

.carding {
  margin-left: -2rem;
  width: 300px;
}

input {
  width: 300px;
}

.next {
  margin-left: 10rem;
}

/* .image{
  height: 50%;
  width: 50%;
}
.image img{
  height: 5%;
  width: 79%;
} */

.root {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.details {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.nextkin {
  margin-right: 14rem;
  margin-bottom: -0rem;
  /* margin-right: -5rem; */
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}

.more-details {
  margin-right: -5rem;
  /* font-family: 'Roboto', sans-serif; */
  color: #000;
  font-weight: 400;
  font-size: 12px;
}

.bvn {
  margin-left: -15rem;
  margin-bottom: -0rem;
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.bvn-input {
  margin-left: 0rem;
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.continue {
  /* width: 30%; */
  width: 45%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 45px;
  margin-bottom: 2rem;
}

.prev {
  margin-left: -8rem;
}

.line {
  margin-bottom: -3%;
  margin-right: 90px;
  /* text-align: left; */
  width: 350px;
  color: #6a0bde;
}

/* .line-div{
   
} */

.cancelotplink {
  margin-left: 15rem;
  position: relative;
  bottom: 30px;
}

.dashboard-link {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 10rem;
}

.success-box {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vector-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
}

.newpasswordlabel {
  margin-right: 10rem;
  color: #000;
  font-size: 90%;
}

.lining {
  width: 370px;
  margin-top: 1%;
  margin-right: 80px;
  color: #6b14d5;
}

.login-btn {
  width: 70%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.remember-box {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dont-have-acc-btn {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  margin-left: 15%;
}

.click-signup {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 17%;

}

.alreadyhave-acc{
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  
}

.newpasswordcontainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.newpassworddiv {
  height: 100vh;
  width: 60%;
}

.newpasswordimg {
  width: 100%;
  height: 100%;
}

.login-img {
  /* width: 80%; */
  /* height: 110%; */
  /* display: flex; */
  /* float: left; */
  width: 100%;
  height: 100%;
}

.login-div {
  height: 100vh;
  width: 50%;
}

.register-img {
  width: 100%;
  height: 100%;
}

.register-input {
  width: 355px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
}

.signup-btn {
  width: 100%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 69px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.forgot-img {
  width: 100%;
  height: 100%;
}

.forgot-pass {
  width: 60%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.forgot-label {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.forgot-input {
  outline: none;
  border: 1px solid #c4c4c4;
  width: 40%;
}

.forgot-btn {
  width: 40%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reset-password {
  color: #000;
  margin-bottom: 80px;
}

.forgot-div {
  height: 100vh;
  width: 50%;
}

.forgotp {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.registration-img {
  width: 90%;
  height: 100%;
}

.registration-div {
  height: 99vh;
  width: 100%;
}

.details-img {
  width: 90%;
  height: 90%;
}

.details-div {
  height: 100vh;
  width: 50%;
}

.images-div{
  display: flex;
  align-items: center;
  
}


.transaction-div{
  margin-bottom: 5rem;
}

.waterpayment-div{
  /* display: flex; */
}

.transaction-p{
  margin-top: 2rem;
}
.no-account {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #c4c4c4;
  margin-bottom: -12px;
  gap: 5px;
  bottom: 25px;
  position: relative;
  
  
}

.register-no-account{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #c4c4c4;
  margin-bottom: -12px;
  gap: 125px;
  bottom: 2px;
  position: relative;
}

.greeting-card{
  color: #d93b3b;
  /* background-color: #000000; */
  /* height: 100vh; */
  /* background-color: rgb(210, 208, 208); */
  /* width: 90vw; */
  /* margin-left: 10rem; */
}


.card-div{
 background-image: url('./assets/WebdashboardPage.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 width: 100%;
 
}

.card-background{
  width: 670px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px 40px;

}

.name{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 27.39px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.balance{
  border-radius: 4.595px;
background: #FFF;
box-shadow: 0px 0px 0px 3.67585px rgba(0, 0, 0, 0.04);
width: 337.744px;
height: 79px;
flex-shrink: 0;
margin: auto;
padding: 5px 0;
}
.total{
  color: #726D6D;
text-align: center;
font-family: Roboto;
font-size: 14.17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.top-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
}
.money{
  color: #000;
font-family: Roboto;
font-size: 33.47px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.money-div{
  padding-top: 12px;
}
.total-balance{
  display: flex;
flex-direction: row;
justify-content: space-around;
flex-shrink: 0;
align-items: center;
}

.background-img{
  width: 150px;
  height: 150px;
  margin-right: 150%;
}

.user-img{
  width: 10%;
  margin-left: 15rem;  
  margin-bottom: 0rem;
}

.userimg-div{
  margin-bottom: 5rem;
}
.cards{
  display: flex;
  gap: 35px
}

.cards-view{
  margin-top: 10%;
  
}
.view-text{
  color: #726D6D;
  background-color: white; 
  padding:.5rem 1rem; 
  margin: 10px 0;
  border-radius: 0.4rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: auto;
  margin-top: 5px;
  /* box-shadow: 5px 5px rgba(0, 0, 0, 0.04); */
}

.nextspend-link{
  margin-left: 22rem;
}

.dropdownimg{
  width: 3%;
  height: 20%;
  margin-top: 2%;
}

.spend-description{
  height: 90px;
  color: #726D6D;
  background-color: white; 
  padding:.5rem 1rem; 
  margin: 10px 0;
  border-radius: 0.4rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: auto;
  margin-top: 5px;
}

.viewdelete-text{
  color: rgb(227, 81, 81);
  background-color: white; 
  padding:.5rem 1rem; 
  margin: 10px 0;
  border-radius: 0.4rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin: auto;
  margin-top: 5px;
}

.card-text{
  color: #726D6D;
}

.back-link{
  margin-right: 22rem;
  font-size: 15.17px;
}


.spend-text{
  color: #726D6D;
  text-align: center;
  font-family: Roboto;
  font-size: 14.17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.help-text{
  color: #726D6D;
  text-align: center;
  font-family: Roboto;
  font-size: 14.17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.airtime-text{
  color: #726D6D;
  text-align: center;
  font-family: Roboto;
  font-size: 14.17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.save-text{
  color: #726D6D;
  text-align: center;
  font-family: Roboto;
  font-size: 14.17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-container{
  display: flex;
  margin: 25px 40px;

}

.arrow{
  margin-top: 200%;
  margin-left: 50%;
}

.ellipse22{
  margin-right: 1rem;
}

.ellipse20{
  margin-right: 1rem;
}

.moni{
  color: rgba(0, 0, 0, 0.74);;
}

.up-keep{
  color: rgba(0, 0, 0, 0.74);;
}
.trans{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 8px;
}
.recent-trans{
  border-radius: 6px;
background: #FFF;
box-shadow: 0px 0px 0px 2.16px rgba(0, 0, 0, 0.05);
width: 508px;
height: 66px;
flex-shrink: 0;
display: flex;
justify-content: space-around;
padding-top: 10px;
justify-items: center;
}
.water{
  color: #000;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cash{
  color: #D78204;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: strikethrough;
padding-top: 20px;
}
.date{
  color: rgba(114, 109, 109, 0.70);
text-align: center;
font-family: Roboto;
font-size: 14.17px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.time{
  color: rgba(114, 109, 109, 0.70);
  text-align: center;
  font-family: Roboto;
  font-size: 11.17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.water-time{
  padding-top: 17px;
  padding-right: 20px;
}
.register-div {
  height: 100vh;
  width: 50%;
}

.otp-continue-button {
  width: 24%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #56219f;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.remember-check {
  left: 9px;
  position: relative;
}

@media only screen and (max-width: 500px) {

  .auth-form-container{
    width: 100%;
    height: 100%;
  }

  
   .login-div {
    height: 50vh;
    width: 50%;
}

  .form { 
    width: 50%; 
    height: 40%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 190px; 
    background: #ffffff;
    right: 12px;
    position: relative;
} 

 .formchild {
  width: 30%;
  height: 50%;
  /* margin-left:20px; */
}



   .login-img {
  width: 100%;
  height: 200%;
}

 .welcome {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 17px;
  font-weight: 200px;
}

.welcome-container{
  margin-bottom: 65%;
  margin-left: 25%;
}

.login-dashboad {
  font-weight: 200px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 18px;
  margin-left: -65%;
  display: inline;
  white-space: nowrap;
}

.login-input{
  outline: none;
  border: 1px solid #c4c4c4;
  width: 300%;
  margin-left: -50px;
  margin-top: 5px;

}

.remember {
  display: flex;
  align-items: center;
  /* margin-left: 15%;  */
  flex-shrink: 0;
  
 
} 

.remember-check {
  left: 9px;
  position: relative;
}

.remember-box {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.no-account {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #c4c4c4;
  margin-top: 12px;
  flex-shrink: 0;
  gap: 7px;
  margin-left: -45%;
}

.dont-have-acc-btn {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  /* cursor: pointer; */
  flex-shrink: 0;
  margin-left: -12%;
}

.click-signup {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  flex-shrink: 0;
}
.forgot-and-rem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  min-width: 100px;
  margin-top: 10px;
  text-align: left;
  /* right: 78px;
  position: relative; */
  margin-left: 27px;
  white-space: nowrap;
  /* flex-direction: row; */
  gap: 10px;
  /* padding: 0 20px; */
}


.forgotp {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  flex-shrink: 0;
  

}

.login-btn {
  width: 290%;
  border-radius: 13.618px;
  margin-left: -50px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 12px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Register */

.register-auth-form-container{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.register-form {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: #ffffff;
}

.register-input {
  width: 155px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  
}

.register-no-account{
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #c4c4c4;
  margin-bottom: -12px;
  gap: 36px;
  right: 28px;
  bottom: 2px;
  position: relative;

}

.alreadyhave-acc{
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  flex-shrink: 0;
  
}

.signup-btn {
  width: 150%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 69px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}

.welcome-div{
  position: relative;
  top: 27px;
}

/* Dashboard */
/* .card-div{
  background-image: url('./assets/WebdashboardPage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  
 } */

 .card-div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-shrink: 0;

}


 .card-background{
  width: 95%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  margin: 0 auto;
  margin-bottom: 90%;
  padding: 10px;
  max-width: 400px;
  top: 50px;
  position: relative;

}

.top-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  

}

.dashboard-avatar{
  width: 15%;
  height: 10%;

}

.balance{
  border-radius: 4.595px;
  background: #FFF;
  box-shadow: 0px 0px 0px 3.67585px rgba(0, 0, 0, 0.04);
  width: 337.744px;
  height: 79px;
  flex-shrink: 0;
  margin: auto;
  padding: 5px 0;
  margin-top: 5%;
}

.card-container{
  display: flex;
  margin: 25px 40px;
  margin-left: 15%;
  padding: 0%;
  flex-shrink: 0;
  transform: scale(0.6);
  right: 10%;
  position: relative;
  width: 5%;

}

.trans{
  right: 35px;
  position: relative;
}

.recent-trans{
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 0px 2.16px rgba(0, 0, 0, 0.05);
  width: 350px;
  height: 66px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  justify-items: center;
  right: 70px;
  position: relative;
}
.arrow-views{
  margin-left: 2.4rem;
  justify-items: center;
}

.tab-container{
  margin-left: 2rem;
}

/* Forgot password */

.forgot-div {
  height: 100vh;
  width: 70%;
}

.forgot-img {
  width: 100%;
  height: 100%;
}

.forgot-label {
  font-weight: 200;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.forgot-input {
  outline: none;
  border: 1px solid #c4c4c4;
  width: 85%;
}

.forgot-btn {
  width: 85%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cancel-link {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* color: #C4C4C4; */
  margin-top: -30px;
  margin-left: 80px;
}

/* Forgot otp */

.forgototp-form {
  display: flex;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  margin: 0;
  /* overflow-y: hidden; */
}

.forgototp-div {
  height: 55vh;
  width: 50%;
  
}

.forgototp-img{
  width: 200px;
  height: 110vh;
  
}


.otp-label {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 200;
  margin-right: 15%;
  display: inline;
  white-space: nowrap;
}

.otpnumber-container {
  width: 60%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
  padding: 10%;
  margin-top: 15rem;
  position: relative;
  /* right: 2%; */

}

.forgototp-input-{
  font-size: 14px;
  width: 50vw;
  max-width: 60%;
  margin-left: 13%;
}

.otpcontinue-button {
  width: 24%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 50px;
  margin-right: 30px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cancelotplink {
  margin-left: 5rem;
  position: relative;
  bottom: 30px;
}

.newpasswordlabel {
  margin-right: -0.1rem;
  color: #000;
  font-size: 90%;
  white-space: nowrap;
}

}