* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  /* height: 115vh; */
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
  color: white;
}

.amountcard-div{
  background-color: rgb(201, 199, 199);
  width: 50%;
  margin-left: 10rem;


}

.auth-form-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.airtimecard-div{
  display: flex;
  background-color: rgb(201, 199, 199);
  width: 30%;
}

.airtime-div{
  display: flex;
  align-items: center;
  
}

.airtime-p{
  margin-right: 12rem;
}

.airtime-card{
 
}
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
/* .img{
  width: 0%;
  display: inline;
} */
.form {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.money-div {
}

.group-img {
  width: 50%;
}

.otpform {
  width: 58%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}
.formchild {
  width: 60%;
  /* height: 250%; */
  /* margin-left: 10px; */
}

.welcome {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

.otp-label {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 200;
}

.otp-div {
  height: 100vh;
  width: 50%;
}

.login-dashboad {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.register-dashboard {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.login-input {
  outline: none;
  border: 1px solid #c4c4c4;
  width: 100%;
}

/* .img > img{
  min-width: 50vw;
  max-height:100vh;
  /* display: flex; */
/* object-fit: cover; */
/* } */

/* @media screen and (max-width: 600px){
  .auth-form-container{
    padding: 24px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  
  } */

/* .img{
    display: none;
  }
  .img,.form{
    width: 110%;
  }

  .formchild{
    width: 100%;
  
  } */

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439bd;
}
.forgot-and-rem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remember {
  display: flex;
  align-items: center;
}

.forgototp-form {
  display: flex;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.forgototp-div {
  height: 100vh;
  width: 50%;
}

.forgototp-img {
  width: 120%;
  height: 100%;
}

.already-have-acc-btn {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
/* .img{
  height: 100%;
  width: 50%;
  
} */
/* .img img{
  width: 100%;
  height: 100%;
} */

/* .link-bttn{
  
} */

.cancel-link {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* color: #C4C4C4; */
  margin-top: 10px;
  margin-left: 260px;
}

.otp-form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.otpcontinue-button {
  width: 39%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.otp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-top: 3rem;
}
.otp-img {
  width: 120%;
  height: 100%;
}

.otp-img img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.otpnumber-container {
  width: 40;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.forgototp-input {
  margin-right: 10rem;
}

.otpcontinue-link {
  margin-left: 60%;
  margin-bottom: 10%;
  color: #55229e;
  text-decoration: underline;
  font-weight: 50;
  cursor: pointer;
}
.root-div {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  background-color: #55229E1C;
  width: 100vw;
  /* width: 90vw; */
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.root-divv{
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5rem;

}

.greeting-paragraph{
  margin-right: 35rem;
}

.balance-div{
  /* width: 13rem; */
}

.ellipse-img{
  margin-right: 30rem;
}

.forgot-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.select-identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kyc {
  margin-right: 350px;
  margin-bottom: 1rem;
  color: #000;
}

.homeaddress {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.select-class {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5rem;
  margin-bottom: -2rem;
  color: #000;
  font-size: 10;
}

.kindly {
  font-weight: 100;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardname {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.cardnumber {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.expdate {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.cvv {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.fullname {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.email {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.phonenumber {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.relationship {
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}
.p-tag {
  margin-left: -5rem;
  color: #000;
}

.plus {
  margin-top: 3%;
}

.carding {
  margin-left: -2rem;
  width: 300px;
}

input {
  width: 300px;
}

.next {
  margin-left: 10rem;
}

/* .image{
  height: 50%;
  width: 50%;
}
.image img{
  height: 5%;
  width: 79%;
} */

.root {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.details {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.nextkin {
  margin-right: 14rem;
  margin-bottom: -0rem;
  /* margin-right: -5rem; */
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}

.more-details {
  margin-right: -5rem;
  /* font-family: 'Roboto', sans-serif; */
  color: #000;
  font-weight: 400;
  font-size: 12px;
}

.bvn {
  margin-left: -15rem;
  margin-bottom: -0rem;
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.bvn-input {
  margin-left: 0rem;
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
  margin-left: -3rem;
}

.continue {
  /* width: 30%; */
  width: 45%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 45px;
  margin-bottom: 2rem;
}

.prev {
  margin-left: -8rem;
}

.line {
  margin-bottom: -3%;
  margin-right: 90px;
  /* text-align: left; */
  width: 350px;
  color: #6a0bde;
}

/* .line-div{
   
} */

.cancelotplink {
  margin-left: 15rem;
}

.dashboard-link {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 10rem;
}

.success-box {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.vector-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
}

.newpasswordlabel {
  margin-right: 10rem;
  color: #000;
  font-size: 90%;
}

.lining {
  width: 370px;
  margin-top: 1%;
  margin-right: 80px;
  color: #6b14d5;
}

.login-btn {
  width: 100%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.remember-box {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dont-have-acc-btn {
  color: #55229e;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.newpasswordcontainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: center; */
  width: 100vw;
  /* height: 90vh; */
  /* margin: auto; */
  /* overflow-y: hidden; */
}

.newpassworddiv {
  height: 100vh;
  width: 60%;
}

.newpasswordimg {
  width: 100%;
  height: 100%;
}

.login-img {
  /* width: 80%; */
  /* height: 110%; */
  /* display: flex; */
  /* float: left; */
  width: 100%;
  height: 100%;
}

.login-div {
  height: 100vh;
  width: 50%;
}

.register-img {
  width: 100%;
  height: 100%;
}

.register-input {
  width: 355px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 12.089px;
  border: 1.511px solid #c4c4c4;
  background: #fff;
}

.signup-btn {
  width: 100%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.forgot-img {
  width: 100%;
  height: 100%;
}

.forgot-pass {
  width: 60%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background: #ffffff;
}

.forgot-label {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin-top: 20px;
}

.forgot-input {
  outline: none;
  border: 1px solid #c4c4c4;
  width: 40%;
}

.forgot-btn {
  width: 40%;
  border-radius: 13.618px;
  border: 1.702px solid #56229e;
  background: #55229e;
  margin-top: 15px;
  color: #fff;
  text-align: center;
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reset-password {
  color: #000;
  margin-bottom: 80px;
}

.forgot-div {
  height: 100vh;
  width: 50%;
}

.forgotp {
  color: rgba(0, 0, 0, 0.6);
  /* font-family: Roboto; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.registration-img {
  width: 100%;
  height: 100%;
}

.registration-div {
  height: 99vh;
  width: 100%;
}

.details-img {
  width: 90%;
  height: 90%;
}

.details-div {
  height: 100vh;
  width: 50%;
}

.images-div{
  display: flex;
  align-items: center;
  
}


.transaction-div{
  margin-bottom: 5rem;
}

.waterpayment-div{
  /* display: flex; */
}

.transaction-p{
  margin-top: 2rem;
}
.no-account {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #c4c4c4;
  margin-top: 10px;
}

.greeting-card{
  color: #000;
  /* background-color: rgb(210, 208, 208); */
  /* width: 35%; */
  /* margin-left: 10rem; */

}

.user-img{
  width: 10%;
  margin-left: 15rem;
}

.register-div {
  height: 100vh;
  width: 30%;
}
